.register-container {
    height: 100vh;
    display: flex;

    a {
        text-decoration: none;
    }

    .head-text {
        font-size: 56px;
        font-weight: bold;
        color: #253D90;
    }

    .left {
        position: relative;
        width: 40%;
        height: 100%;
        background-image: url('../img/register_background.png');
        background-size: cover;
        background-position: center;

        .overlay {
            height: 100%;
            position: absolute;
            background-color: rgba(25, 25, 112, 0.8);

            #logo {
                padding: 30px 20px;
                width: 200px;
            }

            .register-content {
                margin: 60px auto 0;
                width: 80%;
                color: white;

                .head-text {
                    width: 100%;
                    color: white;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .right {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 30px;
        }

        .p-text {
            display: flex;
            gap: 10px;

            p {
                color: black;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                color: #253D90;
            }

            .check-box {
                display: flex;
                align-items: center;
                gap: 20px;

                label {
                    color: black;
                }

                input {
                    width: 25px;
                    height: 25px;
                }
            }

            button {
                width: 30%;
                height: 50px;
                font-size: 18px;
                color: white;
                background-color: #253D90;
                border-radius: 6px;
                cursor: pointer;
            }

            .input-boxs {
                display: flex;
                align-items: center;
                gap: 30px;

                .input-box {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input {
                        max-width: 200px;
                        padding: 4px 8px;
                        height: 30px;
                        outline: none;
                        border: 1px solid #00000040;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .register-container {
        justify-content: center;
    }

    .left {
        display: none;
    }

    .right {
        width: 100% !important;
        background-size: cover;
        background-position: center;

        .head-text {
            font-size: 24px;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .p-text {
            font-size: 12px;
            gap: 3px;
        }

        form {
            width: 100% !important;
            gap: 5px;

            .check-box {
                display: flex;
                align-items: center;
                gap: 5px;

                label {
                    font-size: 12px;
                    color: black;
                }

                input {
                    width: 15px;
                    height: 5px;
                }
            }

            button {
                width: 100% !important;
                height: 50px !important;
                font-size: 12px;
                color: white;
                background-color: #253D90;
                border-radius: 6px;
                cursor: pointer;
            }

            .input-boxs {
                display: flex;
                align-items: center;
                gap: 5px;

                .input-box {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    label {
                        font-size: 12px;
                        color: #253D90;
                    }

                    input {
                        padding: 2px 4px;
                        outline: none;
                        border: 1px solid #00000040;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                }
            }
        }
    }
}