* {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.dashboard {
  background-color: blue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.quickactioncard {
  padding: 10px;
  max-width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.quickactioncards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

@media only screen and (max-width: 990px) {
  .quickactioncards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 50px;
}

.home-card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  background-color: #c7dffc;
}

.all {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.quickstationsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adminicon {
  max-width: 30px;
  width: 100%;
}

.allitem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.all-sidebar {
  background-color: #0A152F;
  max-width: 250px;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(130, 130, 130);
}

.alll {
  padding: 20px;
}

.feautures {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  flex-direction: column;
}
.feautures p {
  color: white;
}
.feautures a {
  color: white;
}

.allfeatures {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.lgtbtn {
  background-color: red;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  padding: 5px;
}
.lgtbtn p {
  color: white;
}

.alll p {
  color: white;
}
.alll h1 {
  color: white;
}

.alladminpanel {
  display: flex;
}

.sidebarnav {
  padding: 10px;
}

.navbaricon {
  display: flex;
  gap: 15px;
}

.navbarimg {
  max-width: 60px;
  width: 100%;
}

#inputsection {
  width: 100%;
}
#inputsection .conta {
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: aliceblue;
  gap: 20px;
}
#inputsection .conta .firstinps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#inputsection .conta .firstinps .title {
  max-width: 250px;
  width: 100%;
  height: 30px;
  border: 1px solid gold;
  border-radius: 3px;
}
#inputsection .conta .firstinps .descrip {
  max-width: 250px;
  width: 100%;
  height: 30px;
  border: 1px solid gold;
  border-radius: 3px;
}
#inputsection .conta .firstinps .employe {
  max-width: 250px;
  width: 100%;
  height: 30px;
  border: 1px solid gold;
  border-radius: 3px;
}
#inputsection .secondinps {
  display: flex;
  gap: 20px;
}
#inputsection .secondinps #birthday {
  height: 30px;
  width: 170px;
  border: 1px solid gold;
  border-radius: 3px;
}
#inputsection .secbuttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
#inputsection .secbuttons .submit {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 4px;
  height: 40px;
  width: 250px;
  background-color: green;
  color: aliceblue;
}
#inputsection .secbuttons .addtarget {
  border: 2px solid gold;
  border-radius: 4px;
  height: 40px;
  width: 300px;
  background-color: white;
}

/* Input section responsivlik basliyir */
@media only screen and (max-width: 600px) {
  .conta {
    margin-left: 20px;
  }
  .conta .secondinps {
    display: flex;
    flex-direction: column;
  }
  .conta .secbuttons {
    display: flex;
    flex-direction: column;
  }
  .conta .submit {
    width: 300px;
  }
}
/* Bitir */
/* Header Baslayir */
.head {
  display: flex;
  min-height: 100px;
  width: 100%;
  justify-content: space-around;
}
.head .headwords {
  display: flex;
  gap: 20px;
}
.head .headwords a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.head .headicons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.head .headicons .iconzeng {
  height: 40px;
  width: 40px;
  background-color: rgb(0, 4, 255);
  border: 1px solid none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px 1px #888888;
}
.head .headicons .iconzeng .zengicon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .headicons .iconmektub {
  height: 40px;
  width: 40px;
  background-color: rgb(14, 148, 2);
  border: 1px solid none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px 1px #888888;
}
.head .headicons .iconmektub .mektubicon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .headicons .iconadmin {
  height: 40px;
  width: 40px;
  background-color: rgb(255, 238, 0);
  border: 1px solid none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px 1px #888888;
}
.head .headicons .iconadmin .manicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Headerin Responsivi baslayir */
@media only screen and (max-width: 600px) {
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headicons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*  Header responsivlik bitir *//*# sourceMappingURL=main.css.map */